[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
jupyter = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
nltk = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
